@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

$font-stack: "Noto Sans", Helvetica, sans-serif;
$primary-color: #333;
$fa-linkedin: #0976b4;
$fa-github:#211F1F;

$breakpoints: (
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;