
nav {
    grid-column: 1;
    grid-row: 1;
    width: 90%;
    margin: auto auto;
    
    @include mq(lg){
        width: 60%;
        margin: 0 auto;
    }

    ul {
      display: flex;
      //justify-content:  center;
      //column-gap: 1%;
      
      li { 
        display: none;
        color: #5F5B5B;
        font-style: normal;
        font-weight: normal;
        text-align: center;
        
        padding: 2rem;

        @include mq(lg){
          display: block;
          font-size: 20px;
          line-height: 43px; 
        }

      }

      li:nth-child(1){
          display: block;
      }
      li:last-child{
          display: block;
          margin-left: auto;
          @include mq(lg)
          {
              display: none;
          }
      }

      li:nth-child(2){
        margin-left: 10%;
      }
      li:nth-child(5){
        margin-left: auto;
      }
  
      .icon {
        width: 50px;
    }

      .sns{
        @include mq(lg){
            font-size: 40px;
            padding: 2rem 1rem;
            text-align: center;

        }
      }
      .hamburger {
          margin: 10px 0;
          font-size:30px;
      }

      .github {
        color: $fa-github;
        }
      .linkedin {
        color: $fa-linkedin;
      }

    }

  }


.landing {

    grid-column: 1;
    grid-row: 2;

    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    @include mq(lg)
    {
        width:60%;
        margin: 0 auto;
        flex-direction: row;
        justify-content: left;
    }

    &_introduction {
        order:2;
        width: 90%;
        margin: 0 1rem auto;
        padding: 0 2rem;

        @include mq(lg)
        {
            order: 1;
            margin: 0;
            //width: 34rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

            h2 {
                font-style: normal;
                font-weight: bold;
                font-size: min(6vw, 3rem);
                color: #F870AA;
                @include mq(lg)
                {
                    margin-top: -12vh;
                    //margin-bottom: 1rem;
                    padding-left: 0.5rem;
                }
            }
            h1 {
                width:fit-content;
                
                font-size: min(12vw, 10rem);
                font-weight: 600;
                line-height: clamp(1rem, 12vw, 12rem);
                background: linear-gradient(93.32deg, #4FA0FF 19.54%, rgba(118, 96, 255, 0.66) 72.47%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            p {
                color: #F18EB8;
                font-style: normal;
                font-weight: normal;
                margin-top: 2rem;
                font-style: normal;
                font-weight: normal;
                font-size: clamp(1rem,2vw,1.6rem);
                line-height: clamp(1.2rem, 3vw, 2rem);

                @include mq(lg)
                {
                    width:40rem;
                    padding-left: 0.5rem;
                    margin-top: 3rem;
                }
            }

        }    

        &_profile {
            order: 1;
            padding:2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include mq(lg)
            {
                order: 2;
                flex: 1;
                align-items: end;
            }
        
            &-pic {
                width:50%;
                border-radius:  50%;
                border: 10px solid #4E9FFF;

                @include mq(lg){
                    width:clamp(150px, 10vw, 300px);
                    margin-top: -14vh;
                }
            }
            }

}

// .banner {

//     width:60%;
//     margin: 0 auto;
//     display: flex;
//     flex: 1;
//     // height:90vh;
  
//     justify-content: left;
  
//     &_introduction {
//       margin-left: 1rem;
//       //margin-top: -5rem;
//       width: 34rem;
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       h1 {
//         background: linear-gradient(93.32deg, #4FA0FF 19.54%, rgba(118, 96, 255, 0.66) 72.47%);
//         -webkit-background-clip: text;
//         -webkit-text-fill-color: transparent;
//         font-size: 8rem;
//         font-weight: 600;
//         line-height: 9rem;
//       }
  
//       p {
//         padding-left: 0.5rem;
//         color: #F18EB8;
//         margin-top: 2rem;
//         font-style: normal;
//         font-weight: normal;
//         font-size: 1.4rem;
//         line-height: 1.8rem;
//       }
  
//       h2 {
//         margin-top: -5rem;
//         margin-bottom: -1rem;
//         padding-left: 0.5rem;
//         color: #F870AA;
//         font-style: normal;
//         font-weight: bold;
//         font-size: 2rem;
  
//       bold {
        
//         font-size: 4rem;
//         }
//       }
//     }
  
//     &_profile {
//       flex: 1;
//       display: flex;
//       flex-direction: column;
//       align-items: end;
//       justify-content: center;
  
//       &-pic {
//         width:60%;
//         margin-top: -5rem;
//         border-radius:  50%;
//         border: 10px solid #4E9FFF;
//   }
//     }
//   }
  