@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

$font-stack: "Noto Sans", Helvetica, sans-serif;
$primary-color: #333;
$fa-linkedin: #0976b4;
$fa-github:#211F1F;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

ul {
  list-style-type: none;
}

.wrapper {
  background: linear-gradient(110.12deg, rgba(116, 114, 255, 0.1) -0.57%, rgba(78, 159, 255, 0.08) 100%);;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

nav {
  width: 90%;
  margin: 0 auto;
  ul {
    display: flex;
    //justify-content:  center;
    //column-gap: 1%;
    
    li { 
      color: #5F5B5B;
      font-style: normal;
      font-weight: normal;
      //font-size: 20px;
      //line-height: 43px; 
      text-align: center;
      //padding: 2rem;
    }

    li:nth-child(2){
      margin-left: 10%;
    }
    li:nth-child(5){
      margin-left: auto;
    }

    .sns, .github, .linkedin {
      display: none;
    }
    
  }
}

.banner {

  width:60%;
  margin: 0 auto;
  display: flex;
  flex: 1;
  // height:90vh;

  justify-content: left;

  &_introduction {
    margin-left: 1rem;
    //margin-top: -5rem;
    width: 34rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
      background: linear-gradient(93.32deg, #4FA0FF 19.54%, rgba(118, 96, 255, 0.66) 72.47%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 8rem;
      font-weight: 600;
      line-height: 9rem;
    }

    p {
      padding-left: 0.5rem;
      color: #F18EB8;
      margin-top: 2rem;
      font-style: normal;
      font-weight: normal;
      font-size: 1.4rem;
      line-height: 1.8rem;
    }

    h2 {
      margin-top: -5rem;
      margin-bottom: -1rem;
      padding-left: 0.5rem;
      color: #F870AA;
      font-style: normal;
      font-weight: bold;
      font-size: 2rem;

    bold {
      
      font-size: 4rem;
      }
    }
  }

  &_profile {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;

    &-pic {
      width:60%;
      margin-top: -5rem;
      border-radius:  50%;
      border: 10px solid #4E9FFF;
}
  }
}

@media (min-width: 1000px) {

  nav {
    width: 60%;
    margin: 0 auto;
    ul {
      display: flex;
      //justify-content:  center;
      column-gap: 1%;
      
      li { 
        color: #5F5B5B;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 43px; 
        text-align: center;
        padding: 2rem;
      }
  
      li:nth-child(2){
        margin-left: 10%;
      }
      li:nth-child(5){
        margin-left: auto;
      }
  
      .sns {
        
        font-size: 40px;
        padding: 2rem 1rem;
        text-align: center;
      }
  
      .linkedin {
        color: $fa-linkedin;
      }
      .github {
        color: $fa-github
      }
      
    }
  }
}